<header>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<a class="logo" routerLink='home'>
        	<img  src="../../../assets/logo.png" alt="logo">
		</a>
		
        <ul>
			<li><a routerLinkActive="active" [routerLink]="['home']" [routerLinkActiveOptions]="{exact:true}" >Imóveis</a></li>
			<li><a routerLinkActive="active" [routerLink]="['about']" >Sobre</a></li>
			<li><a routerLinkActive="active" [routerLink]="['contact']" >Contato</a></li>
			<li><a routerLinkActive="active" [routerLink]="['new']" >Registro</a></li>
		</ul>

        <div id="l-horizontal"></div>
	</nav>
</header>