<div fxLayoutAlign= "center center" fxFlexFill class="main-div">
 <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>
    <form fxLayoutAlign= "stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProces()">
        <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>
      
        <mat-form-field>
            <input type="password" matInput placeholder="Senha" formControlName="password">
        </mat-form-field>
        <button mat-raised-button type="submmit">LOGIN</button>
      </form>

 </mat-card>
</div>