.content{
    display: flex;
    justify-content: center;
    //position: relative;

}

.contact{
    width: 100%;
    max-width: 500px;
    
}

.form{
    display: flex;
    flex-direction: column;
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;

}