<div class="about">
    <h2>Sobre o Moments</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure excepturi modi eum, aliquam explicabo id assumenda facilis inventore earum et cumque sit? Deserunt enim exercitationem ipsa qui! Ipsum, quisquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, ea tempora blanditiis reprehenderit nulla esse minus est, nemo quae voluptates maxime sed rerum necessitatibus, quia rem ducimus nesciunt quo iure.</p>
    <a routerLink="/moments/new">Quero compartilhar meu Momento!</a>
</div>