
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Montalt</h4>
  	 			<ul>
  	 				<li><a href="#">Imóveis</a></li>
  	 				<li><a href="#">Contato</a></li>  	 				
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
                <h4>Redes Sociais</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-col">
  	 			<h4>Sobre</h4>
  	 			<ul>
  	 				<p>Quem procura comprar, vender, alugar um imovel, encontra muito mais do que isso na MontAlt. Encontra orientação segura, propostas sólidas, um atendimento diferenciado, que credenciam a MontAlt como uma das imobiliárias mais confiáveis em São João da Boa Vista.</p>
  	 			</ul>
  	 		</div>  	 		
  	 	</div>
  	 </div>
  </footer>    


